
    @import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
    * {
      text-align: center;
      color: rgb(233, 196, 106);
      font-family: 'Sassy Frass', cursive;
      font-size: large;
      
    }