  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
* {
      /* color: rgb(12, 43, 35); */
      font-family: 'Open Sans', sans-serif;
      font-size: large;
    }
    body {
      font-size: 28px;
    }
    
    .hea{
      position: relative; /* Để có khung tham chiếu cho các phần tử con */
      display: inline-block; /* Hiển thị hình và chữ trên cùng một dòng */
    }
    
    .hider {
      position: absolute; /* Đặt vị trí tuyệt đối trong khung tham chiếu */
      top: 45%; 
      /* Đặt vị trí theo chiều dọc */
      /* left: 50%;  */
      /* Đặt vị trí theo chiều ngang */
      /* transform: translate(-50%, -50%); */
       /* Dịch chuyển để căn giữa chữ */
      background-color: rgba(255, 255, 255, 0); 
      /* Màu nền cho chữ */
      color: white; 
      /* Màu chữ */
      padding: 10px; 
      /* Khoảng cách từ chữ đến viền */
      font-size: 18px; 
      /* Kích thước chữ */
      font-family: Arial, sans-serif; 
      /* Font chữ */
    }
    .horizontal-menu {
      display: flex;
      align-items: center;
      background-color: #33333300;
      color: white;
    }
    
    .logo {
      margin-right: 20px;
    }
    
    .logo img {
      width: 40px;
      height: 40px;
    }
    
    .horizontal-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }
    
    .horizontal-menu li {
      padding: 10px 20px;
    }
    
    .horizontal-menu a {
      text-decoration: none;
      color: white;
    }
    