a{
color: aquamarine;
font: optional;
font-size: 23;
}
a :hover {
      margin: 10px;
      padding: auto;
      color: rgba(26, 92, 190, 0.233);
      font-family: monospace;
}
p{
      color: peru;
}
h3{
      color: #444444;
}
.icon-red{
      color: #92464a;
}
.icon-blue{
      color: #4046a0;
}
.icon-orange{
      color: rgb(194, 151, 71);
}
.icon-yellow{
      colo
}
.img1{
      width: 50px;
      height: 50px;
      border-radius: 50px;
}