p{
      color: peru;
}
h3{
      color: #444444;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      f
}
.icon-red{
      color: #92464a;
}
.icon-blue{
      color: #4046a0;
}
.icon-orange{
      color: rgb(194, 151, 71);
}
.icon-yellow{
      color: rgb(177, 109, 61);
}
