* {
      text-align: center;
      color: rgb(233, 196, 106);
    }
    @import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
body {
      background-image: url("./img/img1.jpg");
      background-size:  2100px 1100px;
      background-repeat: no-repeat;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
h1 {
      font-family: 'Sassy Frass', cursive;
      font-size:70px;
    }
div li{
      font-family: 'Sassy Frass', cursive;
      color: rgb(244, 162, 97);
      display: inline;
      font-size: xx-large;
}
div li::first-letter{
      color: rgb(243, 109, 0);
      font-size:;
          
}
.money{
      color: rgb(231, 111, 81);
}
.best_sale{
      font-family: 'Sassy Frass', cursive;
      color: rgb(156, 34, 34);
      display: none;
      padding: 20px;
      font-size: xx-large;
}
div:hover .best_sale {
      display: block;
    }