* {
      text-align: center;
      color: rgb(233, 196, 106);
    }
    @import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
body {
      background-image: url("./img/img1.jpg");
      background-size:  2100px 1100px;
      background-repeat: no-repeat;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
h1 {
      font-family: 'Sassy Frass', cursive;
      font-size:70px;
    }
div p {
      font-family: 'Sassy Frass', cursive;
      color: rgb(243, 174, 118);
      display: inline;
      font-size: xx-large;
}
#a1 {
            color: blue;
}
.money {
      color: rgb(231, 111, 81);
}
.best_sale {
      font-family: 'Sassy Frass', cursive;
      color: rgb(156, 34, 34);
      display: none;
      padding: 5px;
      margin: 3px;
      font-size: xx-large;
}
div:hover .best_sale {
      display: block;
    }