* {
      box-sizing: border-box;
}
    
body {
      font-family: Arial, Helvetica, sans-serif; 
}
header{
    background-image:url("./img/img1.jpg") ;
    margin: -20px;   
}
header h1 {
      text-align: center;
      font-style: inherit;
      font-size: larger;
      padding: 20px;
}   
header p{
      margin: 30px;
      padding: 15px 35px;
      text-decoration: dotted;
      border-radius: 5px;
      opacity: inherit;
      text-align: center;
      display: inline-flex;
      justify-content:space-between;
      align-items: center;
      flex-flow: 1;
      background: rgba(224, 228, 22, 0.555);
      opacity: 5px;
}
nav  {
      margin-left: -10px;
      margin-right: 10px;
      float: left;
      width: 30%;
      height:755px; 
      background: #ccc;
      padding: 20px;
      border: 1px solid red;
    }
nav a{
      
}