 table {
      font: 300;
      font-size: larger;
      font-weight: 500;
      line-height: 3;
      width: 75%;
      margin: auto;
      color: rgb(244, 248, 247);
      background-color: rgb(38, 161, 114);
}
tr{
      
}