.bannerText
{
	position: absolute;
	top: 50%;
	/* left: 10%; */
	transform: translateY(-50%);
	max-width: 700px;
      text-align: justify;
}

.bannerText h2,
.bannerText h3
{
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;
	transform-origin: left;
	text-transform: uppercase;
	transform: scaleX(0);
	animation: revealTextReverse 1s ease-in-out forwards;
}
.bannerText h2
{
	font-size: 6em;
	animation-delay: 2s;
}
.bannerText h3
{
	font-size: 3em;
	animation-delay: 3s;
}